<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
  
<body>
<app-patient-navbar></app-patient-navbar>
<div class="content">
<div class="header">
  Prescription
</div><br>
<div class="row justify-content-center" id="cont">
  <div class="col-auto">
  <div *ngIf="haveData > 0">   
    <table class="table" >
      <thead class="table-head">
          <tr>  
              <th scope="col">S.No</th>
              <th scope="col">Prescription Id</th>
              <th scope="col">Appointment Id</th>
              <th scope="col">Hospital Name</th>
              <th scope="col">Doctor Name</th>  
              <th scope="col">Patient Name</th>
              <th scope="col">Age</th>
              <th scope="col">Date</th>  
              <th scope="col">Medicine</th>
          </tr>  
      </thead>  
      <tbody>  
              <tr *ngFor="let i of appDetails">
                <td></td>
                <td>{{i.prescriptionId}}</td>
                <td>{{i.appointmentId}}</td>
                <td>{{i.hospital}}</td>
                <td>{{i.doctorName}}</td>
                <td>{{i.patientName}}</td>
                <td>{{i.age}}</td>
                <td>{{i.date}}</td> 
                <td>{{i.medicine}}</td>
            </tr>   
      </tbody><br>  
  </table>  </div></div>
  <div *ngIf="haveData == 0" class="data">  
      Don't have Data.  
  </div>
  </div>
</div>
</body>