body{
    height:100%;
    width:100%;
    background-color: whitesmoke;
  }
  div.content {
    margin-left: 210px;
    margin-right: 10px;
    padding: 1px 0px;
    height: 1000px;
    background-color: white;
  }
  @media screen and (max-width: 700px) {
    div.content {margin-left: 0;
    margin-right: 0;}
}
.header{
    background-color: teal;
    font-size: 20px;
    color: white;
    padding: 10px;
  }
  .data{
      text-align: center;
  }
  table{
 
    margin-left: auto;
    margin-right: auto;
    
    width: 80%;
  }
  h3{
    text-align: center;
    color: green;
    font-weight: bold;
  }
  
  tr td:first-child:before
  {
  counter-increment: Serial;      /* Increment the Serial counter */
  content: counter(Serial); /* Display the counter */
  }
  body
  {
    counter-reset: Serial;           /* Set the Serial counter to 0 */
  }
  .table-head{
    background-color: rgb(224, 219, 224);
    padding: 15px;
  }
  p{
    text-align: center;
    background-color: rgb(182, 252, 228);
    width: 400px;
    margin-left: auto;
    margin-right: auto;
    border-radius: 10px;
    padding: 10px 0px;
  }