body{
    height:100%;
    width:100%;
    position:absolute;
    overflow:hidden;
    background-color: rgb(250, 244, 234);
  }
    span{
      color: red;
      font-family:fantasy;
      font-size: 20px;
    }
  ul li a:hover{
    background: #75a4fa;
  }
  
  .navbar1 {
    height: 50px;
    margin: 0;
    position: absolute;
  }
  .navbar1 li {
    height: auto;
    width: 90px;
    float: left;
    text-align: center;
    list-style: none;
    padding: 0;
    margin: 0;
  }
  .navbar1 a {
    padding: 15px 0;
    text-decoration: none;
    color: white;
    display: block;
  }
  .navbar1 li:hover,
  a:hover {
    background-color: #75a4fa;
  }
  .navbar1 li ul {
    display: none;
    height: auto;
    margin: 0;
    padding: 0;
  }
  .navbar1 li:hover ul {
    display: block;
  }
  .navbar1 li ul li {
    background-color: #0275d8;
  }
  .navbar1 li ul li a {
    border-left: 1px solid #444444;
    border-right: 1px solid #444444;
    border-top: 1px solid #c9d4d8;
    border-bottom: 1px solid #444444;
  }
  .navbar1 li ul li a:hover {
    background-color: #75a4fa;
  }
  
  h3{
    text-align: center;
    color: green;
    font-weight: bold;
  }
  
  .register-photo .image-holder {
    display: table-cell;
    width: 40%;
    background: url(https://images.pexels.com/photos/5732461/pexels-photo-5732461.jpeg?auto=compress&cs=tinysrgb&dpr=1&w=500);
    background-size: cover
  }
  
  .register-photo .form-container {
    display: table;
    max-width: 900px;
    width: 40%;
    margin: 100px auto;
    box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.1)
  }
  
  .register-photo form {
    display: table-cell;
    width: 400px;
    background-color: #ffffff;
    padding: 40px 60px;
    color: #505e6c
  }
  
  @media (max-width:991px) {
    .register-photo form {
        padding: 40px
    }
  }
  
  .register-photo form h2 {
    font-size: 24px;
    line-height: 1.5;
    margin-bottom: 30px
  }
  
  .register-photo form .form-control {
    background: transparent;
    border: none;
    border-bottom: 1px solid #dfe7f1;
    border-radius: 0;
    box-shadow: none;
    outline: none;
    color: inherit;
    text-indent: 0px;
    height: 40px
  }
  

  