<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">


  <nav class="navbar fixed-top navbar-light" style="padding: 0%;">
    <div class="container-fluid">
      <div class="navbar-header">
        <a class="navbar-brand" id="#title" style="font-family: fantasy;"><i class="fa fa-plus" style="font-size:20px;color:red">&nbsp;</i>Health<span>Care</span></a>
        <a class="navbar-brand" id="name" style="font-family: fantasy;">{{doctor}}</a>
        
      </div></div>
  </nav>
    <div class="sidebar">
      <a href="" [routerLink]="['/doctorHome']">Dashboard</a>
      <a href="" [routerLink]="['/doctorAppointment']">Manage Appointment</a>
      <a href="" [routerLink]="['/']">Prescription Details</a>
      <a href="" [routerLink]="['/doctor-report']">Report</a>
      <a href="">Logout</a>
    </div>
 